* {
 margin: 0;
 padding: 0;
}

body {
 background-image: linear-gradient(to top, #3f6bad, #0090d5, #00b3d3, #00d0a0, #02e546);
 width: 100%;
 height: 100vh;
 display: flex;
 flex-wrap: wrap;
}

header {
 width: 100%; 
 
}

.box {
 display: flex;
 justify-content: center;
 width: 100%;
 height: 100vh;
}

.btn {
 width: auto; 
 height: 70px;
}

button {
 font-size: 12px;
 background: none;
 padding: 5px;
 margin: 15px;
 border: none;
 color: rgb(255, 255, 255);
 cursor: pointer;
}

a {
 text-decoration: none;
}
